# Data Science Tools and Ecosystem

**Author**
Ivan Cheung

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List of popular data science languages
* List of popular data science libraries
* List of data science tools
* Python arithmetic operations

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. scikit-learn

| Data Science Tools |
----
| JuptyerNotebook |
| RStudio |
| KNIME |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
#  This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
hours

3.3333333333333335